body{
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color:#444;
    padding: 0 10px
}

h1,h2,h3{
    line-height: 1.2;
    text-align: center;
}

/* body {
    color: #444;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
} */

div#header {
    border-bottom: 2px solid #444;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color:#444;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px #444;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

@media screen and (min-width: 500px) {
    h1.fixed {
        height:2em;
    }
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a {
    color: crimson;
}

a:visited {
    color: #ff7a95;
}

a#back {
    margin-left: 10px;
    float: left;
}

a#next {
    margin-right: 10px;
    float: right;
}

div#navContainer {
    overflow: hidden;
}