<h1 class="fixed">Week $week$ - $title$</h1>

<div id="navContainer">
  <a href="$backUrl$" id="back">Back</a><a href="$nextUrl$" id="next">Next</a>
</div>

$body$

<ul>
  $for(resources)$
      <li>
          <a href="$url$">$takeFileName(url)$</a>
      </li>
  $endfor$
</ul>

<div id="navContainer">
<a href="$backUrl$" id="back">Back</a><a href="$nextUrl$" id="next">Next</a>
</div>